{% extends 'partials/base.html.twig' %}

{% set show_image = header_var('show_pageimage')|defined(true) %}
{% set image = page.media[header.featured_image] ?: page.media.images|first %}
{% set img_width = header_var('image_width')|default(300) %}
{% set img_height = header_var('image_height')|default(300) %}
{% set title = page.title|raw %}


{% block content %}

<article>

{#    {% if show_image and image %}
        <span class="image main" itemprop="image">{{ image.cropZoom(img_width, img_height).loading('lazy').attribute('decoding','async').html(title,title,'image')|raw }}</span>
    {% endif %} #}

    {% include 'partials/page.html.twig' %}

</article>
{% endblock %}
